{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block body %}

<h1 class="pt-2 text-center">Liste des Films</h1>
<hr>

    <!--Barre de recherche de nom de films-->
<div class="m-3">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>



<div class="row pt-2">

    {% for leFilm in lesFilms %}

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3">
                <h4 class="card-header"><a href="{{path('film_fiche', {'id': leFilm.id})}}">{{leFilm.nom}}</a></h4>
                <div class="card-body">

                <a href="{{path('film_fiche', {'id': leFilm.id})}}">
                <img class="avatar mx-auto d-block" style="height: auto; width: 15rem; display: block;" src="{{asset("images/affiches/" ~ leFilm.affiche)}}" alt="Affiche du film">
                </a>

                    {% for laCategorie in leFilm.categories %} <span class="badge m-2" style="background-color: {{laCategorie.couleur}}; color:black; font-size: 1rem;">{{laCategorie.nom}}</span> {% endfor %}      
                
                    <p class="card-text m-2">{{leFilm.description|slice(0,100)|raw}}...</p>
                </div>
                <ul class="list-group list-group-flush" align="left">

                    <li class="list-group-item">Le film est sotie en {{leFilm.date}}.</li>

                    <li class="list-group-item">Le film à une durée de {{leFilm.duree}} heures.</li>

                    <li class="list-group-item">

                        {% if leFilm.sessions|length == 0 %}
                            Pas de séance de projection pour ce film
                        {% else %}
                            {% if leFilm.sessions|length > 1 %}
                                Le film sera diffusé aux séances :
                            {% else %}
                                Le film sera diffusé à la séance :
                            {% endif %}
                                {% for laSeance in leFilm.sessions %} 
                                    <span class="badge" style="background-color: black; font-size:1rem;">
                                        <a href="{{path('seance_fiche', {'id': laSeance.id})}}">
                                            N°{{laSeance.id}}
                                        </a>
                                    </span> 
                                {% endfor %}
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>

    {% endfor %} 

    <div class="navigation mx-auto">
        {{ knp_pagination_render(lesFilms) }}
    </div>

</div>

{% endblock %}
